.filters-group-container {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 30%;
    max-width: 350px;
    margin-top: 48px;
    flex-shrink: 0;
  }
}

/* Write your CSS here */

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.img {
  height: 40px;
  margin-left: 0px;
  padding-left: 0px;
}
.button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
